html {
  background-color: #f8f8f8;
  color: #333;
}

ul {
  list-style-type: none; /* Remove default list style */
  padding-left: 15px; /* Remove default padding */
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

article {
  overflow: hidden;
}

.logo {
  width: 75px;
}

.new-logo img {
  width: 300px;
}

.welcome-content-container {
  width: 100%;
}

.navbar-brand h3 {
  margin-left: 8px;
  margin-top: 10px;
}

.hero-wrapper {
  width: 100%;
  margin-inline: auto;
  margin-top: 10px;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  transition: transform 1s ease;
}

.img-wrapper img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}

.join-now-btn {
  background-color: #02b302;
}

div a .join-now-btn:hover {
  background-color: #00ca00;
}

/* Coaches */
.coaches-profile {
  line-height: 1.5;
}

/* Testimonials */
.review {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 90%;
  max-width: 600px;
}
.review-header {
  display: flex;
  align-items: center;
}
.reviewer-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.reviewer-info h4 {
  margin: 0;
}
.review-rating {
  color: #ffc107; /* Gold color for stars */
  font-size: 1.5em; /* Adjust size as needed */
}
.review-text {
  margin-top: 10px;
}

.join-us {
  width: 100%;
}

@media (max-width: 576px) {
  .hero-image-container img {
    margin: 3px 0 !important; /* Removes any default margin */
    height: 300px;
    object-fit: cover;
    object-position: left;
  }
}

@media (min-width: 992px) {
  .welcome-content {
    max-width: 50%;
    margin: 5px auto;
  }
}

@media (min-width: 999px) {
  .join-us {
    width: 50%;
  }
}
